* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #29292E;
}

main {
  border-radius: 1rem;
  background-color: white;
  margin: 15rem auto 0;
  padding: 2rem;
  width: 50rem;
}

h1 {
  font-family: 'Roboto';
  font-weight: 700;
  text-align: center;
}

h2 {
  color: rgb(82, 82, 82);
  font-family: 'Poppins';
  font-weight: 400;
}

.sub {
  display:flex;
  flex-direction: column;
  margin: 5rem 0 5rem;
  gap: 3.5rem;
}

#salario {
  width: 17.3rem;
  height: 5.5rem;
  padding-left: 1rem;
  font-size: 2.5rem;
}

#salario::placeholder {
  font-size: 2.5rem;
}

#dias {
  width: 18rem;
  height: 5.5rem;
  padding-left: 1rem;
  font-size: 2.5rem;
}

.salario{
  display: flex;
  gap: 1rem;
}

.diasFerias{
  display: flex;
  gap: 1rem;
}

#send {
  font-size: 1.7rem;
  background-color: rgb(212, 212, 212);
  display: flex;
  margin: 0 auto;
  height: 5rem;
  width: 15rem;
  border: none;
  border-radius: 0.5rem;
  padding-left: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto';
}

#send:hover {
  background-color: rgb(158, 158, 158);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

#resultado {
  color: green;
  font-weight: 700;
  font-family: 'Roboto';
  text-align: center;
  line-height: 4rem;
  margin-bottom: 2rem;
}

.hide {
  visibility: hidden;
}